@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-lato: 'Lato', sans-serif;
  
  --color-brand-red: #FF1C44;
  --color-brand-red-dark: #D1222F;
  --color-brand-mint: #00F59B;
  --color-brand-dark: #03050F;
  --color-brand-dark-text: #0A051E;
  --color-brand-gray: #676F8F;
  --color-brand-light-gray: #F8F9FF;
  --color-brand-border: #5E6488;
  --color-brand-success: #389E0D;
  --color-brand-divider: #CCD1EE;
  --color-brand-blue: #4F4FFF;
  --color-brand-gray-step: #7981B2;
  --color-brand-navy: #101438;
  --color-brand-border-light: #E4E8F7;
  --color-brand-charcoal: #494F5F;
  --color-brand-summary: #141938;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-light-gray);
  color: var(--color-brand-dark);
  margin: 0;
  padding: 0;
}


